html{
    font-family: "Lucida Console",  "courier New";
}


/* header*/


.menu{
    float:right;
    text-align: right;
}
.menu img{
    cursor: pointer;
}
.menu h5{
    margin-right: 10px;
    font-size: 15px;
    font-family: "Lucida Console",  "courier New";
}
/* fin header */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    font-family: "Lucida Console",  "courier New";
}
.btn {
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-menu {
    color: #fff;
    background-color: #222213;
    border-color: #202120;
}
.btn:hover
{
    background-image:none;
    background-color:#fff;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 13px 16px;
    font-family: futura_maxi_cg_demiregular,tahoma, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    border-radius: 6px;
}

.btn-menu {
    background-image: -webkit-linear-gradient(top, #222213 0%, #222231 100%);
    background-image: -o-linear-gradient(top, #222213 0%, #222231 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222213), to(#222231));
    background-image: linear-gradient(to bottom, #222213 0%, #222231 100%);
    background-repeat: repeat-x;
    border-color: #202120;
}

/*empieza galeria de fotos*/
section{
    float: left;
}
.responsive {
    width: 100%;
    height: auto;
 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 2%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}
.column2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}
.column3 {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  border: 5px solid black;
}
.column2 img {

  border: 5px solid black;
}
/*fin galeria*/
/*footer y creditos */  
footer {
    background-color:black;
    color:white;
    float: left;
    width: 100%;
    height: auto;
}
footer img{
    margin-top:3px;
       -webkit-filter: invert(1);
   filter: invert(1);
   cursor:pointer;
}

footer h5{
 margin-right: 10px;
    font-size: 15px;
    font-family: "Lucida Console",  "courier New";
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column3{
    display:none!important;
  }
  .column2{
    display:none!important;
  }
}


/* extras de about.html */

.ficha{
    font-family:"Lucida console";

}